body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    font-size: 20px;
}
h1{
    border-bottom: 1px solid gray;
    padding-bottom: 8px;
    color: rgb(20, 20, 12);
}
#container{
    margin: auto;
    width: 600px;
    border-style: solid;
    background-color: white;
    padding: 20px;
}
li{
    list-style-type: none;
}
label{
    display: inline-block;
    width: 150px;
}
